@import "../styles/mixins.scss";

.label {
	@include labelLike;
}
.price {
	width: 15vw;

	color: inherit;
	font-size: inherit;
	font-family: inherit;

	border: none;
	outline: none;
	background: none;
}
